*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-btn {
    width: 80%;
    height: 50vh;
    border-radius: 10%;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.main-btn:hover{
    background-color: rgba(255,255,255,0.3);
}

.container{
    width: 100%;
    height: auto;
}